@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply p-5 flex w-full bg-secondary-color cursor-default;
}

.inActive {
  @apply p-5 flex w-full;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
